# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media
media/

# Static
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Distribution
*.egg-info/
*.egg
build/
dist/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Coverage
.coverage
htmlcov/

# Temporary files
*.swp
*~
